* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* COLORS******************* */

.bg-gray {
  background-color: #F5F5F3;
}

.bg-yellow {
  background-color: #FEE45B;
}

.bg-black {
  background-color: #444444;
}

.bg-green {
  background-color: #d2f3e0;
}

/* END COLORS */
/* Width Sizes*************** */

.width-200 {
  width: 200px;
}

.width-250 {
  width: 200px;
}

.width-300 {
  width: 300px;
}

.width-450 {
  width: 450px;
}
.width-500 {
  width: 500px;
}

.width-600 {
  width: 600px;
}

.width-650 {
  width: 650px;
}

.width-680 {
  width: 680px;
}

.width-700 {
  width: 700px;
}

.width-750 {
  width: 750px;
}


/* End Width Sizes */

/* padding Sizes */

.padding-l-45px {
    padding-left: 45px;
}

/* End Padding Sizes */

/* MARGIN SIZE */

.margin-l-45px {
  margin-left: 45px;
}

/* END MARGIN SIZE */

/* Navbar section */

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu {
  background-color: #444444;
}

.navbar-brand img {
  height: 60px;
}




/* End Navbar section */


/* video banner section */

.bg-video {
  height: 100vh;
  display: flex;
  align-items: center;
}

.content {
  text-align: left;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.header-video video {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FEE45B;
  z-index: 1;
  opacity: 0.85;
}

/* banner content section */
.video-content {
  z-index: 2;
}

.video-content h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 20px;
}

.video-content h2 {
  font-size: 40PX;
  line-height: 40px;
  display: block;
  padding-bottom: 2rem;
}

.button {
	background-color: #444444;
  /* border: 2px solid #444444; */
	padding: 0.95rem 2.5rem;
	color: #ffffff;
  margin-top: 2rem;
	font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.video-content a {
  margin-left: 15px;
}

.button:hover {
  /* background-color: #ffffff; */
  background-color: #1492E6;
  text-decoration: none;
  color: #fff;
}

/* End Banner Content Section */

/* End Video Banner Section */

/* About Section */

.about-block {
  /* background-color: lightblue; */
  height: auto;
  margin-top: 135px;
  margin-bottom: 90px;
}
.about-img {
  background-color: tomato;
  padding: 0 0;
}

.about-img img {
  width: 100%;
}

.tag {
  background-color: #FEE45B;
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 150px;
  margin-left: -100px;
  margin-top: 65px;
}

.white-line {
    height: 4px;
    background-color: #fff;
    margin-top: 20px;
}

.about-text p {
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;

  /* background-color: lightblue; */
}

.tag p {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
}

.about-text h2 {
  /* background-color: pink; */
  font-size: 72px;
  font-weight: 900;
  color: #444444;
  margin-top: -50px;
}

.about-text a {
  /* background-color: tomato; */
  margin-top: 15px;
}

/* End About Section */

/* WHY SECTION*********************** */
.why-section {
  padding: 90px 0;
}

.central-tag {
  background-color: #FEE45B;
  height: 110px;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-left: 150px;
  margin-top: 65px;
  margin: 0 auto;
  position: relative;
}

.central-tag p {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding-right: 1rem;
}

.tittle-text {
  /* background-color: pink; */
  font-size: 72px;
  font-weight: 900;
  color: #444444;
  text-align: center;
  margin-top: -2.2rem;
}

.white-line-central {
    height: 4px;
    background-color: #fff;
    margin-top: 20px;
    position: absolute;
    right: 0;
}

.kpi-cards {
  padding: 0 0;
  margin-top: 8rem;
}

.tag-card {

}

.kpi-card {
  /* background-color: pink; */
  padding: 0 1rem;
}

.kpi-card h4 {
  font-size: 71px;
  font-weight: 900;
  text-align: center;
}

.kpi-card h3 {
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  margin-top: -1.5rem;
}

.kpi-card p {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  padding: 0 1rem;
}





/* END WHY SECTION */
