

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: palegreen; */
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
  /* overflow-x: hidden; */
  font-family: 'Lato', sans-serif;
}


/* BG-COLORS********************* */
.bg-yellow {
    background-color: #FEE45B;
}

.bg-yellow2 {
    background-color: #FCD469;
}


.bg-yellowGreen {
    background-color: yellowgreen;
}

.bg-whiteSmoke {
    background-color: whitesmoke;
}

.bg-red {
    background-color: #FF6964;
}

.bg-pink {
    background-color: pink;
}

.bg-paleGreen {
    background-color: palegreen;
}

.bg-olive {
    background-color: olive;
}

.bg-black {
  background-color: #444444;
}

.bg-blue {
  background-color: #1492E6;
}

.bg-gray {
  background-color: #F5F5F3;
}

.bg-green {
  background-color: #71D1B0;
}

/* END BG COLORS */

/* NAVBAR SECTION */

.navbar {
  background-color: #444444;
}

.navbar-brand img {
  height: 60px;
}

.activado {
  color: yellowgreen;
}

/* END NAVBAR SECTION */

/* VIDEO SECTION*********************** */
.bg-video {
  height: 100vh;
  display: flex;
  align-items: center;
}

.header-video video {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  text-align: left;
}

.header-overlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FEE45B;
  z-index: 1;
  opacity: 0.85;
}

.header-overlay img {

  width: 100vw;
  opacity: .15;
}


/* borde oculto------------------------ */

.img-border-hidden {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

/* BANNER CONTENT SECTION************** */
.video-content {
  z-index: 2;
}

.video-content h1 {
  font-size: 70px;
  font-weight: 900;
  line-height: 70px;
  margin-bottom: 20px;
}

.video-content h2 {
  font-size: 40PX;
  line-height: 40px;
  display: block;
  padding-bottom: 2rem;
}

.button {
	background-color: #444444 !important;
  /* border: 2px solid #444444; */
	padding: 0.95rem 2.5rem;
	color: #ffffff;
	font-size: 16px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

.video-content a {
  margin-left: 15px;
}

.button:hover {
  /* background-color: #ffffff; */
  background-color: tomato !important;
  text-decoration: none;
  color: #fff;
}
/* END BANNER CONTENT SECTION */

/* END VIDEO SECTION */

/* ABOUT SECTION************** */
.about-block {
  background-color: lightblue;
  height: auto;
  margin-top: 100px;
}

.about-img {
  background-color: tomato;
  padding: 0 0;
}

.about-img img{
  width: 100%;
  height: auto;
}

@supports(object-fit: cover){
    .about-img img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.tag {
  background-color: #FEE45B;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  margin-left: -100px;
  margin-top: 65px;
  padding-top: -20px;
}

.white-line {
    background-color: #fff;
    width: 250px;
    height: 4px;
}

.about-text {
  background-color: pink;
  padding: 0;
}

.about-text p {
  background-color: lightyellow;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  margin-left: 45px;
}

.tag h3 {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.white-line {
    background-color: #fff;
    width: 250px;
    height: 4px;
}

.about-text h2 {
  /* background-color: pink; */
  font-size: 65px;
  font-weight: 900;
  color: #444444;
  margin-top: -50px;
  margin-left: 45px;
}

.about-text a {
  /* background-color: tomato; */
  margin-top: 15px;
  margin-left: 45px;
}


/* END ABOUT SECTION */

/* KPI SECTION************************* */
.kpi-block {
  height: auto;
  margin-top: 60px;
  padding: 90px 0;
}

.central-tag {
  background-color: #FEE45B;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  padding-left: 150px;
  margin-left: auto;
  margin-right: auto;
}


.central-tag h3 {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.white-line-central {
    background-color: #fff;
    width: 450px;
    height: 4px;
}

.tittle-text {
  /* background-color: pink; */
  font-size: 65px;
  font-weight: 900;
  color: #444444;
  text-align: center;
  margin-top: -2.2rem;
}



.kpi-cards {
  background-color: paleGreen;
  padding: 0 0;
  margin-top: 8rem;
}


.kpi-card {
  /* background-color: pink; */
  padding: 0 1rem;
}

.kpi-card h4 {
  font-size: 70px;
  font-weight: 900;
  text-align: center;
}

.kpi-card h3 {
  font-size: 45px;
  font-weight: 900;
  text-align: center;
  margin-top: -1.5rem;
}

.kpi-card p {
  background-color: lightyellow;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-top: -1rem;
}

.tag-card {
    height: 45px;
}

/* END KPI SECTION */


/* HEXAGON SECTION------------------------------ */
.success-block {
  margin-top: 100px;
}


.grid-block {
  /* background-color: green; */
  padding: 0;
}

.grid {
  /* background-color: pink; */
  margin-top: 100px;
}

#hexGrid {
  /* background-color: salmon; */
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;
  padding-bottom: 500px;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  /* =  100 / tan(60) * 1.5 */
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; /* =  width / sin(60) */
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
  -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
      -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
          transform: rotate3d(0,0,1,-60deg) skewY(30deg);
    transition: all 0.5s;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
            transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}




/*** HEX CONTENT **********************************************************************/
.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1, .hex p {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

#demo1 {
  color: #fff;
  text-transform: capitalize;
  text-align: center;
  bottom: 50%;
  padding-top:50%;
  font-size: 1rem;
  z-index: 1;
}
.hex h1:before, .hex h1:after {
  display: inline-block;
  margin: 0 0.5em;
  width: 0.25em;
  height: 0.03em;
  background: #ffffff;
  content: '';
  vertical-align: middle;
  transition: all 0.3s;
  text-align:center;
}

.demo2 {
top: 50%;
text-align: center;
color: #fff;
font-size: 16px;
}

.img {

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
/* .img:before {
  background: rgba(22, 103, 137, 0.3)
} */
.img:after {
  background: #000;
}

/***********************/


/************************************/

/*** HOVER EFFECT  **********************************************************************/



.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
opacity:1;
transition: 0.8s;
}


.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}

/* END GRID HOVER EFFECTS */



.center-button {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}


/* END GRID SECTION */

/* CAROUSEL BRANDS SECTION****************** */

.carousel-brands {
  padding-top: 100px;
}

.item {
  background-color: #F5F5F3 !important;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px !important;
}


/* END CAROUSEL BRANDS */

/* SERVICE SECTION********************** */

.service-block {
  background-color: lightgreen;
  margin-top: 100px;
}

.service-cards {
  background-color: lightblue;
  padding: 0;
  margin: 0;
  margin-top: 5rem;
}


.service-card {
  background-color: pink;
  padding: 0;
  margin-bottom: 45px;
  border: solid 1px #707070;
  box-shadow: 0 2px 20px #bcbab8;
  transition: all 0.5s ease-in-out;

}

.service-card img {
  height: 48px;
}


.service-img-tittle {
    background-color: salmon;
    height:80px;
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px ;
}

.service-card h4 {
  font-size:  24px;
  font-weight: 900;
  margin: 0;
  padding-left: 1rem;
}

.service-card-text p {
  background-color: lightgreen;
  margin: 0;
}

.service-card-text {
  background-color: lightyellow;
  padding: 20px 20px 20px 20px;
}

.service-card-bottom {
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
}

.service-card-bottom2 {
  padding: 10px 20px;
  transition: all 0.5s ease-in-out;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  display: block;
}


.service-card:hover {
  transform: scale(1.1);
}

.service-card:hover .service-card-bottom2{
  background-color: black;
  color: white;
  text-decoration: none;
}

.service-block .center-button {
  background-color: salmon;
  margin-top: 0;
}

/* END  SERVICE SECTION */

/* BLOQUE FOOTER */

footer {
  /* background-color: teal; */
  margin-top: 0;
}

footer h2 {
  font-weight: 600;
  font-size: 1.5rem;
}

footer .line {
  margin: 0 auto;
}

.socials {
  /* background-color: gold; */
  width: 300px;
  margin: 2rem auto 1rem auto;
}

.socials a {
  text-decoration: none;
}

.socials a i {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #333333;
  width: 3rem;
  height: 3rem;
  padding: 1rem;
  color: #fff;
  font-size: 1rem;
  margin: 0.5rem;
  border-radius: 50%;
  text-align: center;
  border: solid 2px #333;
  transition: all 0.6s ease-in-out;
}

.socials a i:hover {
  background-color: #fff;
  color: #333333;
  border: solid 2px #333;
  text-decoration: none;
}

.copyright {
  font-size: 0.8rem;
  color: #707070;
  margin: 0 auto;
}


.fa-circle {
  font-size: .5rem;
}

.footer-nav {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav .nav-link {
  display: inline-block;
  background-color: lightyellow;
  color: black;
  width: 200px;
  text-align: center;
  transition: all 0.1s ease-in-out;
}

.footer-nav .nav-link:hover {
  font-weight: 900;
}

.footer-nav .fas {
  display: inline-block;
  background-color: salmon;
  width: 50px;
  text-align: center;
}

footer img {
  display: block;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}

.line {
  border-top: solid 1px #333333;
}

/* FIN BLOQUE FOOTER */
/* *
*
*
*
*
*
* */
/* END HOME*********************************** */

/* NOSOTROS PAGE******************************* */

/* BANNER SECTION*********************** */

.banner-img {
  background-color: lightblue;
  height: 70vh;
  display: flex;
  align-items: center;
}

.header-img {
  background-color: lightgreen;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.header-img img {
  background-color: teal;
  object-fit: cover;
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.banner-img2 {
  display: none;
}

.content-banner2 {
  display: none;
}

/**********************************/

/* .parallax {
  background-image: url(../img/nosotros.jpg);
  min-height: 600px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */

/*********************************/

.banner-content-left {
  background-color: lightblue;
}

/* CONTENT-BANNER */
.left-tag {
  background-color: #FEE45B;
  height: 110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 150px;
  padding-right: 0;
}

.left-tag h3 {
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding-right: 1rem;
}

.white-line-left {
    background-color: #fff;
    width: 250px;
    height: 4px;
}

.tittle-text-left {
  /* background-color: salmon; */
  font-size: 65px;
  font-weight: 900;
  color: #444444;
  margin: 0;
  padding: 0;
  margin-top: -2.2rem;
  position: absolute;
  left: 0;
  padding-left: 150px;
}

.banner-content-left p {
  background-color: pink;
  color: black;
  position: absolute;
  left: 0;
  padding-left: 150px;
  margin-top: 3rem;
  padding-right: 3rem;
}


/* END CONTENT BANNER */

/* VALUES BLOCK******************************* */

.values-block {
  background-color: lightgreen;
  margin-top: 100px;
}

.values-text  {
  background-color: lightyellow;
  text-align: center;
  margin: 0;
  margin-top: -1rem;
}

.content-values {
 background-color: lightblue;
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 400px);
  grid-gap: 1rem;
  width: 820px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
}

.values-item {
  /* background-color: salmon; */
  padding: 2.5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.values-item:hover {
  background-color: black;
}

.values-item:hover h3 {
  color: #FEE45B;
}

.values-item span {
  /* background-color: lightyellow; */
  color: white;
  font-size: 50px;
  font-weight: lighter;
}

.values-item h3 {
  /* background-color: lightyellow; */
  color: white;
  font-size: 72px;
  font-weight: 900;
  margin: 0;
}

.values-item p {
  /* background-color: lightyellow; */
  color: white;
  font-size: 24px;
}


/* END VALUES BLOCK */

/* TEAM BLOCK*************************************** */

.team-block {
  background-color: lightgreen;
  margin-top: 100px;

}

.team-content {
  background-color: lightblue;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  grid-template-rows: repeat(2, 280px);
  grid-gap: 1rem;
  margin-top: 2rem;
}

.team-item {
  background-color: salmon;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ebebe3;
}

.team-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-team {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  /* background-color: black; */
  background-color: white;
}

.team-item:hover .overlay-team {
  opacity: 0.8;
}

.overlay-team span {
  /* color: white; */
  color: black;
  font-size: 20px;
  font-weight: lighter;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-team h3 {
  /* color: white; */
  color: black;
  font-size: 30px;
  font-weight: 900;
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay-team h4 {
  /* color: white; */
  color: black;
  font-size: 20px;
  /* font-weight: lighter; */
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* END TEAM BLOCK */

/* END NOSOTROS PAGE */

/* CASOS DE ÉXITO PAGE************************** */

.title-section {
  /* background-color: lightGreen; */
  margin-top: -3rem;
}

/* NAVBAR SECTION */

.navbar2 {
  background-color: lightblue;
  padding: 2rem 0 .5rem 0;
  display: flex;
  justify-content: space-between;

}

.navbar2 a {
  color: black;
}

.active2 {
  color: red!important;
}

/* END NAVBAR SECTION */

/* END CASOS DE ÉXITO */
