/* TABLET******************************************* */
/* @media (min-width: 768px) and (max-width: 1024px ) { */
@media (min-width: 768px ) and (max-width: 1023px) {

	body{
		background-color: peru;
	}

	.navbar-toggler {
		margin: 0;
	}


	/* VIDEO SECTION ****************** */
	.bg-video {
		height: 43vh;
		width: 100vw;
	}

	.header-video {
		height: 43vh;
		width: 100vw;
	}

	.header-video video {
		width: 100vw;
	}

	.header-overlay {
	  width: 100vw;
		height: 43vh;
		/* display: none; */
	}

	.video-content h1 {
		/* background-color: tomato; */
		font-size: 40px;
		line-height: 48px;
	}

	.video-content h2 {
		/* background-color: pink; */
		display: block;
	  font-size: 16PX;
	  line-height: 19px;
	  display: block;
		padding-bottom: 1rem;
		margin: 0;
	}

	.video-content {
		background-color: green;
		position: absolute;
		margin-top: 2rem;
	}

	.video-content a {
		/* background-color: tomato; */
		font-size: 16px;
		/* text-align: center; */
		margin-top: 0;
		width: 200px;
		height: 48px;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* END VIDEO SECTION */
	/* ABOUT SECTION*************************** */

	.about-block {
		background-color: yellowgreen;
		margin-top: 60px;
	}

	.about-img {
		background-color: teal;

	}

	.about-text {
		background-color: pink;
		padding: 0;
		padding-top: 1rem;
	}



	.tag {
	  background-color: #FEE45B;
	  height: 55px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	  padding-left: 48px;
		margin: 0;

	}

	.tag h3 {
		background-color: green;
		font-size: 16px;
		font-weight: bold;

	}

	.about-text h2 {
		/* color: tomato; */
		font-size: 32px;
		font-weight: 900;
		margin-top: -1rem;

	}

	.about-text p {
		font-size: 16px;
		line-height: 20px;

	}

	.white-line {
	  height: 4px;
	  background-color: #fff;
	  margin-top: 0.4rem;
		width: 200px;
	}

	.about-block a {
		margin: 0;
		margin-left: 45px;
		width: 260px;
		height: 48px;
		font-size: 16px;
	}

	/* END ABOUT SECTION */

	/* KPI SECTION******************************** */

	.kpi-block {
	  margin-top: 60px;
	  padding: 40px 0;
	}

	.central-tag {
		/* background-color: lightblue; */
		height: 55px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0;
		padding-left: 48px;
	}

	.central-tag h3 {
		font-size: 16px;
		font-weight: bold;
	}

	.white-line-central {
		width: 200px;
	}


	.tittle-text {
		/* background-color: salmon; */
		/* color: blue; */
		font-size: 32px;
		margin-top: -1rem;
	}

	.kpi-cards {
	  background-color: lightblue;
	  padding: 0 0;
	  margin: 2.5rem auto 0 auto;
	}

	.kpi-card h4 {
		font-size: 36px;
	}

	.kpi-card h3 {
		/* background-color: tomato; */
		font-size: 24px;
		margin-top: -15px;
	}

	.kpi-card p {
		background-color: pink;
		font-size: 16px;
		text-align: center;
		margin: -1rem 0 0 0;
	}

	.tag-card {
	    height: 24px;
	}

	/* END KPI SECTION  */


	/* SUCCESS BLOCK*********************** */
	.success-block {
		background-color: yellowGreen;
		margin: 0;
		margin-top: 60px;
	}

	/* EXAGON GRID SECTION */

	.grid-block {
		background-color: pink;
		width: 98vw;
		margin-top:
	}

	.grid {
	  /* background-color: pink; */
	  margin-top: 0;
	}


	/* END GRID SECTION */


	/* CAROUSEL SECTION ******************* */

	.carousel-brands {
		background-color: yellowGreen;
		width: 96vw;
		margin: 0;
		margin-top: -30px;
		margin-left: auto;
		margin-right: auto;
		padding: 0;
		padding-top: 50px;
	}

	/* END CAROUSEL SECTION */

	/* SERVICE SECTION*********************** */

	.center-button {
	  width: 300px;
	  text-align: center;
	}

	.service-block .central-tag {
		height: 55px;
	}

	.service-block .center-button {
	  background-color: salmon;
	  /* margin-top: -20PX; */
	}

	.center-button a {
		width: 200px;
		margin: 0 auto;
	}

	.service-cards {
	  background-color: pink;
	  margin-top: 0;
		margin-bottom: 50px;
	}

	.service-card:nth-child(3) {
		background-color: teal;
		margin: 0 auto;
	}

	/* END SERVICE SECTION */

	/* FOOTER TABLET********************* */

	footer {
		background-color: salmon;
		margin: 0;
	}

	footer img {
		width: auto;
		height: 100px;
	}

	.footer-nav {
	  background-color: lightblue;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.footer-nav .nav-link {
		color: tomato;
		font-size: 16px;

	}

	/* END FOOTER TABLET */

	/* NOSOTROS PAGE************************ */

	/* banner section */

	.central-tag {
		margin-top: -1rem;
	}

	/* end banner section */

	/* values section */
	.values-block {
		/* display: none; */
		background-color: peru;
		margin: 0;
		padding: 0;
		margin-top: 10rem;
	}

	.content-values {
		/* display: none; */
		background-color: purple;
		display: grid;
		grid-template-columns: repeat(2,1fr);
		grid-template-rows: repeat(2, 45vw);
		grid-gap: 1rem;
		width: 90vw;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3rem;
	}

	.values-item {
		/* background-color: lightBlue; */
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.values-item span {
		/* background-color: lightGreen; */
		font-size: 30px;
		font-weight: lighter;
	}

	.values-item h3 {
		/* background-color: lightBlue; */
		font-size: 55px;
		font-weight: 900;
	}

	.values-item p {
		/* background-color: teal; */
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		margin-top: 1rem;
	}



	/* end values section */


	/* team block******************************** */

	.team-block {
		/* display: none; */
		background-color:lightgreen;
	}

	.team-content {
	  background-color: pink;
	  height: auto;
	  margin: 0 auto;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(4, 335px);
	  grid-gap: 1rem;
	  margin-top: 2rem;
	}

	.overlay-team {
		background-color: transparent;
		background-image: linear-gradient(transparent, black);
		opacity: .9;
	}

	.overlay-team span {
		display: none;
	}

	.overlay-team h3 {
		color: white;
		font-size: 24px;
		margin: 0;
		margin-top: 7rem;
	}

	.overlay-team h4 {
		color: white;
		font-size: 16px;
		margin-top: 5rem;
	}
	/* end team block */

	/* END NOSOTROS PAGE */

	/* TRABAJOS PAGE************************** */

	.container {
		/* padding: 0; */
	}

	.banner-img2-trabajos {
		/* display: none; */
		display: block;
		background-image: url("../img/casosBannerTablet.png");
		width: 100%;
		height: 50vh;
		background-repeat: no-repeat;
		background-size: cover;
		background-position:  center 50px;
	}

	.title-section {
		margin-top: -1rem;
	}

	.values-text {
		font-size: 18px;
		margin-bottom: 1rem;
	}

	.menu-tab {
		margin: 0;
	}

	.menu-tab a {
		font-size: 18px;
	}

	.portfolio-content {
		/* display: none; */
		background-color: pink;
	  width: 100%;
	  height: auto;
	  margin: 0 auto;
	  display: grid;
	  grid-template-columns: repeat(2, 1fr);
	  grid-template-rows: repeat(auto, auto);
	  grid-gap: 1rem;
	}

	.portfolio-card-body h5 {
		font-size: 20px;
	}

	.portfolio-card-body h6 {
		font-size: 18px;
	}

	.portfolio-card-body a {
		font-size: 18px;
	}

	.portfolio-card-body p {
		font-size: 16px;
	}
	/* END TRABAJOS PAGE */

	/* TRABAJOS DETALLE************************** */
	.banner-img-detalle {
	  /* background-color: #012C61; */
	  width: 100%;
	  height: 40vh;
	}


	.banner-right ul {
	  font-size: 20px;
	  font-weight: lighter;
	}

	.banner-left {
		width: 40vw;
	}

	.back-link {
	  margin:5rem 0 1rem 0;
	}

	.tagRight, .tagLeft {
		height: 55px;
		margin-top: 0;
	}

	.product-block .about-text {
		background-color: teal;
		padding-top: 0;
	}

	.product-block h2 {
	  margin-top: -2rem;
		margin-bottom: 1rem;
	}

	.product-block img {
		height: auto;
	}

	.product-block .center-button {
		margin-top: -1rem;
	}

	.tagRight {
	  padding-left: 50px;
	  margin-left: -50px;
	  padding-top: -20px;

	}

	.tagLeft {
	  padding-right: 50px;
	  margin-right: -50px;
	  padding-top: -20px;
	}

	.text-right h2, p {
		margin-right: 45px;
	}

	/* END TRABAJOS DETALLE/ */

	/* SERVICIOS PAGE ****************** */

	.banner-service {
		/* display: block; */
		display: flex;
		flex-direction: column-reverse;
	}

	.banner-service .header-img2 {
		display: block;
		margin-top: 5rem;
	}

	.banner-content-left {
	  margin-top: 0;
	}

	.banner-content-left .left-tag {
	  height: 55px;
		padding-left: 48px;
	}

	.banner-content-left .left-tag h3 {
		font-size: 16px;
	}

	.banner-content-left p {
		background-color: lightGreen;
		width: 100%;
		text-align: center;
		padding: 0 2rem;
		margin-left: 0;

	}

	.banner-service .tittle-text-left {

	  font-size: 32px;
	  font-weight: 900;
	  color: #333;
	  margin: 0;
		text-align: center;
	  padding: 0;
		width: 100%;
		margin-top: -.9rem;
	}

	/* SERVICE-BLOCK-PAGE************************ */

	.service-block-page {
		background-color: salmon;
		margin-top: 12rem;
		margin-bottom: 22rem;
	}

	.service-block-text {
		background-color: lightGreen;
		margin-top: 6rem;
		padding-bottom: 3rem;
		margin-bottom: 5rem;
	}

	.service-block-text p {

		background-color: lightyellow;
		width: 100%;
	}

	.service-block-page .central-tag {
		background-color: pink;
		height: 55px;
		width: 50%;
	}

	.service-block-page h2 {
		display: block;
		text-align: center;
		margin: 0 auto;
		margin-top: -1rem;
	}

	.service-block-page .center-button {
		background-color: blue;
		margin-top: 0;
	}

	.service-block-page .center-button a {
		background-color: gold;
		width: 260px;
	}
	/* END SERVICE BLOCK PAGE */




	footer {
		/* display: none; */
	}

	footer .copyright p {
		background-color: lightyellow;
		margin: 0;
		margin-bottom: 3rem;
	}

	/* END SERVICIOS PAGE */
}

/* END SERVICE PAGE */

}
