

/************************************************************/

/*** HEXAGON SIZING AND EVEN ROW INDENTATION *****************************************************************/
@media (min-width:1201px) { /* <- 5-4  hexagons per row */
  #hexGrid{
    padding-bottom: 100px;
  }
  .hex {
    width: 20%; /* = 100 / 5 */
  }
  .hex:nth-child(9n+6){ /* first hexagon of even rows */
    margin-left:10%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 1200px) and (min-width:901px) { /* <- 4-3  hexagons per row */
  #hexGrid{
    padding-bottom: 5.5%;
    font-size: 13px;
  }
  .hex {
    width: 25%; /* = 100 / 4 */
  }
  .hex:nth-child(7n+5){ /* first hexagon of even rows */
    margin-left:12.5%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 900px) and (min-width:601px) { /* <- 3-2  hexagons per row */
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; /* = 100 / 3 */
  }
  .hex:nth-child(5n+4){ /* first hexagon of even rows */
    margin-left:16.666%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 600px) { /* <- 2-1  hexagons per row */
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%; /* = 100 / 3 */
  }
  .hex:nth-child(3n+3){ /* first hexagon of even rows */
    margin-left:25%;  /* = width of .hex / 2  to indent even rows */
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }

}


/* END EXAGON SECTION  */


/*
*
*
*
*
*
*
*
*
*/


@media (min-width: 320px) and (max-width: 600px ) {

	/* MOBILE*********************** */
	/* MOBILE*********************** */
	/* MOBILE*********************** */

	body{
		background-color: salmon;
		margin: 0;
		padding: 0;
	}

	/* NAVBAR************************** */

	.navbar-toggler {
		margin: 0;
	}


	/* END NAVBAR */

	/* VIDEO SECTION */

	.bg-video {
		position: relative;
		height: 80vh;
	}

	.header-video {
		height: 80vh;
	}

	.video-content {
		background-color: pink;
		bottom: 0;
		left: 1rem;
		right: 1rem;
		bottom: 42px;
		position: absolute;

	}

	.header-overlay {
	  width: 100vw;
		height: 80vh;
	}

	.video-content h1 {
		/* color: tomato; */
		font-size: 35px;
		line-height: 36px;
		text-align: center;
		/* background-color: green; */
	}

	.video-content h2 {
		/* background-color: lightblue; */
		display: block;
	  font-size: 16PX;
	  line-height: 19px;
	  display: block;
		text-align: center;
	}

	.video-content a {
		/* background-color: tomato; */
		font-size: 16px;
		text-align: center;
		margin: 0;
		margin-left: auto;
		margin-right: auto;
	}

	.button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 260px;
		height: 48px;
	}

	/* END VIDEO SECTION */

	/* ABOUT SECTION ************************/
	.about-block {
		height: auto;
		margin-top: 52px;
		margin-bottom: 40px;
	}

	.about-block img {

	}

	.tag {
		height: 40px;
		width: 100%;
		padding-left: 48px;
		margin: 0 auto;
		margin-top: -20px;
		display: flex;
	  justify-content: space-between;
	  align-items: center;
	}

	.white-line {
			/* background-color: green; */
			width: 200px;
			height: 4px !important;
	}

	.about-text p {
		background-color: teal;
		font-size: 16px;
		font-weight: 300;
		line-height: 29px;
		padding: 0 1rem;
		margin: 0 auto;
	}


	.tag h3 {
		background-color: tomato;
		display: inline-block;
		font-size: 12px;
		font-weight: 900;
	}



	.about-text {
		background-color: pink;
	}

	.about-text h2 {
		/* background-color: lightblue; */
		font-size: 28px;
		font-weight: 900;
		color: #333;
		margin-top: -50px;
		text-align: center;
		margin-top: -16px;
		margin-left: auto;
		margin-right: auto;
	}

	.white-line {
		width: 180px;
		height: 2px;
	}

	.about-block a {
		/* background-color: blue; */
		font-size: 16px;
		text-align: center;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}


	/* END ABOUT SECTION */

	/* KPI SECTION*************** */

	.kpi-block {
		background-color: green;
		margin-top: 50px;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.central-tag {
		/* background-color: lightblue; */
		height: 40px;
		display: flex;
	  justify-content: space-between;
	  align-items: center;
		padding: 0;
		padding-left: 48px;
	}

	.central-tag h3 {
	  font-size: 12px;
		font-weight: 900;
	}

	.white-line-central {
		width: 200px;
	}


	.tittle-text {
	  /* background-color: pink; */
	  font-size: 28px;
	  font-weight: 900;
	  color: #333;
	  text-align: center;
	  margin-top: -0.8rem;
	}


	.kpi-cards {
		background-color: pink;
		width: 98vw !important;
	  margin: 0 auto !important;
		padding-top: 60px;
	}

	.kpi-card {
		background-color: lightgreen;
	}

	.kpi-card h4 {
		background-color: salmon;
	  font-size: 42px;
	  font-weight: 900;
	  text-align: center;
	}

	.kpi-card h3 {
	  font-size: 21px;
	  font-weight: 900;
	  text-align: center;
	  margin-top: -1.5rem;
	}

	.kpi-card p {
		background-color: lightyellow;
		font-size: 16px;
		margin-top: -20px;
	}

	.tag-card {
		background-color: yellowgreen;
		width: 240px;
		height: 32px;
		margin: 0 auto;
		margin-top: -40px;
	}
	/* END KPI SECTION */

	/* GRID SECTION************* */

	.success-block {
		/* background-color: orange; */
		width: 98vw;
		padding: 0;
		margin: 0 auto;
		margin-top: 50px;
	}

	.grid-block {
		background-color: teal;
		margin-top: 40px;
	}

	.grid {
		background-color: lightgreen;
		padding: 0;
		width: 98vw;
		margin: 0 auto;
	}

	.center-button {
		background-color: tomato;
	 	margin-top: 50px;
	}

	.center-button a {
		margin-left: auto;
		margin-right: auto;
	}

	/* END GRID SECTION */

	/* CAROUSEL SECTION************************ */

	.carousel-brands {
		background-color: lightblue;
		padding-top: 0;
		padding-bottom: -10px;
		margin: 0 auto;
		margin-top: -50px;
		width: 98vw;
	}

	/* END CAROUSEL SECTION */

	/* CARDS SECTION******************* */

	.service-block {
		background-color: gold;
		margin: 0;
		margin-top: 50px;
	}

	.service-cards {
		background-color: orange;
		margin-top: 50px;
		display: flex;
		flex-direction: column;
	}

	.service-card-bottom2 {
			font-size: 18px;
	}

	/* END CARDS SECTION */

	/* FOOTER********************  */

	footer {
		background-color: lightgreen;
		margin-top: 0;
	}

	footer img {
		height: 80px;
		width: auto;
	}

	.footer-nav {
	  background-color: lightBlue;
	  display: flex;
	  flex-direction: column;
	}

	/* NOSOTROS PAGE********************* */

	.banner-img {
	  background-color: lightblue;
	  height: 50vh;
	  display: flex;
	  align-items: center;
	}

	.header-img {
	  background-color: lightgreen;
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 50vh;
	  overflow: hidden;
	}


	.left-tag {
	  /* background-color: #FEE45B; */
		height: 40px;
		width: 100%;
		padding-left: 48px;
		margin: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.white-line-left {
	    background-color: #fff;
	    width: 150px;
	    height: 4px !important;
	}


	.left-tag h3 {
	  display: inline-block;
	  font-size: 12px;
	  font-weight: 900;
	  color: #fff;
	  margin: 0;
	  padding-right: 1rem;
	}

	.tittle-text-left {
	  background-color: pink;
	  font-size: 28px;
	  font-weight: 900;
	  color: #333;
	  margin: 0;
		/* margin-left: 16px; */
		text-align: center;
	  padding: 0;
		width: 100%;
		margin-top: -.9rem;
	}

	.banner-content-left p {
	  background-color: pink;
	  color: black;
		width: 100%;
	  margin-top: 2rem;
		font-size: 16px;
		font-weight: lighter;
	}

	/* end banner */

	/* values section */

	.values-block {
	  background-color: lightyellow;
		margin: 0;
		padding: 0;
	  margin-top: 12rem;
	}

	.values-block p {
		font-size: 16px;
		font-weight: lighter;
		text-align: left;
		margin-top: -1rem;
	}

	.content-values {
		/* display: none; */
		background-color: purple;
		display: grid;
	  grid-template-columns: repeat(1, 90vw);
	  grid-template-rows: repeat(4, 90vw);
	  grid-gap: 1rem;
	  width: 90vw;
		margin: 0;
	  margin-left: auto;
	  margin-right: auto;
	  margin-top: 3rem;
	}

	.values-item {
	  /* background-color: lightBlue; */
	  padding: 2rem;
	}

	.values-item span {
	  /* background-color: lightGreen; */
		font-size: 32px;
		font-weight: lighter;
	}

	.values-item h3 {
	  /* background-color: lightBlue; */
		font-size: 55px;
		font-weight: 900;
	}

	.values-item p {
	  /* background-color: teal; */
		font-size: 20px;
		font-weight: normal;
		text-align: center;
		margin-top: 1rem;
	}

	/* end values section */

	/* team-section */

	.team-block {
		/* display: none; */
		background-color: blue;
	}

	.team-block a {
		margin-top: -1rem;
	}

	.team-block P {
		background-color: pink;
		font-size: 16px;
		text-align: left;
	}

	.team-content {
		/* display: none; */
		background-color: lightyellow;
		grid-template-columns: repeat(1, 1fr);
	  grid-template-rows: repeat(8, 90vw);
	}


	.overlay-team {
		background-color: transparent;
		background-image: linear-gradient(transparent, black);
	  opacity: .9;
	}

	.overlay-team span {
		display: none;
	}

	.overlay-team h3 {
		color: white;
		font-size: 24px;
		margin: 0;
		margin-top: 7rem;
	}

	.overlay-team h4 {
		color: white;
		font-size: 16px;
		margin-top: 5rem;
	}

	/* end team section */


	/* END NOSOTROS PAGE */

/* TRABAJOS PAGE********************* */

.title-section {
  /* background-color: lightGreen; */
  margin-top: -20px;
}

.portfolio-content {
  background-color: pink;
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto, auto);
  grid-gap: 1rem;
}

.values-text {
	font-size: 16px;
}

.nav-item {
	font-size: 16px;
}

.portfolio-item h5{
	font-size: 24px;
}

.portfolio-item h6{
	font-size: 18px;
}

.portfolio-item a{
	font-size: 18px;
}

.portfolio-item p{
	font-size: 16px;
}

/* END TRAAJOS PAGE */

	/* END FOOTER */

	/* TRABAJOS-DETALLE PAGE*************************** */

	.banner-img-detalle {
	  width: 100%;
	  height: 65vh;
		padding-top: 3rem;
	  display: flex;
		flex-direction: column;
	}

	.banner-img-detalle-content {
	  /* background-color: lightblue; */
	  width: 100%;
	  height: auto;
	  display: flex;
	  flex-direction: column;

	}

	.banner-left {
	  width: 80vw;
		padding: 1rem 0;
	}

	.banner-right ul {
	  font-size: 18px;
		text-align: center;
		margin: 0;

	}

	.back-link a{
		font-size: 12px;
	}


 .section-text-right {
	 display: flex;
	 flex-direction: column;
 }

 .section-text-left {
	 display: inline-block;

 }

 .tagRight {
	 background-color: #FEE45B;
	 height: 40px;
	 display: flex;
	 justify-content: space-between;
	 align-items: center;
	 padding: 0;
	 margin: 0;
 }

 .tagLeft {
	background-color: #FEE45B;
	height: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: 0;
 }

 .section-text-right, .section-text-left {
   margin-bottom: 40px;
 }

 .section-text-left {
	 display: flex;
	 flex-direction: column;
 }

 .product-block h2 {

   margin-top: -1rem;
	 margin-bottom: 0;
 }
	/* END TRABAJOS-DETALLE */

.product-block .center-button{
	background-color: lightGreen;
	margin-top: : -2rem;
}

/* SERVICE SECTION************************* */

.banner-service {
	/* background-color: peru; */
}

.header-img {
	display: none;

}

.header-img2 {
	display: block;
	margin-top: 4.5rem;
}

 .banner-content-left {
	background-color: purple;
	margin-top: 22rem;
	width: 92vw;
	margin-left: auto;
	margin-right: auto;
}

.banner-content-left p {
	font-size: 16px;
	background-color: lightblue;
	width: 100%;
	text-align: center;
	padding: 0 1rem;
}

.service-block-page {
	margin-top: 14rem;
	margin-bottom: 22rem;
}

.service-block-page .central-tag {
  height: 40px;
}

.service-block-page .tittle-text {
  /* color: green; */
	margin-top: -1rem;
}

.service-block-text {
  height: 440px;
  background-color: lightGreen;
  margin: 0 auto;
  border: solid 1px #707070;
  padding: 2rem 1rem;
}

.service-block-text p{
	/* background-color: lightyellow; */
	font-size: 16px;
}

.service-block-content {
  margin-top: 0;
}

.service-block-list {
  background-color: pink;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}


/* END SERVICE SECTION */


}


/* END MOBILE-------------------------------------- */
/* *
*
*
*
* */

/*----------------------------------------------- */
